.bodyContainer {
    min-height: 100vh;
    background: linear-gradient(rgba(165, 49, 165, 0.8), rgba(255, 197, 91, 0.8));
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 30px;
}

.header {
    padding: 30px;
}

.mainContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText {
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    font-size: 4rem;
    color: white;
    font-weight: 700;
}

.shelf {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.book {
    width: 272px;
    height: 360px;
    background-image: url("images/book.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alkalami', serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.bookTitle {
    padding: 30px;
}

.fullBookDetails, .changeReadStatusButton, .removeBookButton, .book:hover .bookTitle {
    display: none;
}

.book:hover {
    padding: 40px 10px;
    transition: all 0.2s ease;
    transform:scale(1.25, 1.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.book:hover .fullBookDetails, .book:hover .changeReadStatusButton, .book:hover .removeBookButton {
    display: unset;   
}

.book:hover .fullBookDetails {
    text-align: left;
    padding: 20px;
    font-size: 1.4rem;
}

.book:hover .changeReadStatusButton {
    height: 2rem;
    width: 70%;
    font-size: 1rem;
    align-self: center;
    background-color: rgb(162, 250, 162);
    border-radius: 10px;
    border: 2px solid black;
}

.book:hover .removeBookButton {
    height: 2rem;
    width: 70%;
    font-size: 1rem;
    align-self: center;
    background-color: rgb(255, 44, 44);
    border-radius: 10px;
    border: 2px solid black;
}

.buttonsDiv {
    display: flex;
    place-content: center;
    padding: 50px;
}

#addBookButton, #addBookForm, #submitNewBook, #cancelButton {
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.4);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

#addBookButton {
    padding: 15px;
    font-size: 3rem;
}

.formPopup {
    display: none;
}

#addBookForm {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: 50px;
    padding: 30px;
    font-size: 1.3rem;
    gap: 2px;
}

#addBookForm h2 {
    text-align: center;
    padding: 6px;
    font-size: 2rem;
    font-weight: 700;
}

#addBookForm input[type=text], #addBookForm input[type=number] {
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 10px;
}

.newBookButtons {
    display: flex;
    place-content: center space-around;
    gap: 10px;
    margin-top: 20px;
}

.newBookButtons button, .newBookButtons input[type=submit] {
    font-size: 1.5rem;
}